{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="list-product-header">
                        <div class="d-flex justify-content-between">
                            <h4>Add New Role</h4>
                            <a class="btn btn-primary" href="{% url 'base:getRoles' %}"><i class="fa fa-eye"></i> Back to Roles</a>
                        </div>
                    </div>
                    <hr>
                    <div class="form theme-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="mb-3">
                                <label class="form-label">{{ form.name.label }}</label>
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{ form.permissions.label }}</label>
                                <div class="row">
                                    {% for perm in form.permissions %}
                                        <div class="col-md-4 mb-2">
                                            <div class="form-check">
                                                {{ perm.tag }}
                                                {{ perm.choice_label }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% for error in form.permissions.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Add Role</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
