{% extends 'layouts/app.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="list-client-header">
                        <div class="d-flex justify-content-between">
                            <h4>Clients</h4>
                            <div>
                                <a class="btn btn-primary" href="{% url 'base:addClient' %}"><i class="fa fa-plus"></i> Add Client</a>
                                <a class="btn btn-outline-primary mx-3" href="#"><i class="fa fa-file-o"></i> Report</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="list-client">
                        <table class="table table-striped" id="client-table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </th>
                                    <th><span class="f-light f-w-600">Name</span></th>
                                    <th><span class="f-light f-w-600">Phone Number</span></th>
                                    <th><span class="f-light f-w-600">Destination</span></th>
                                    <th><span class="f-light f-w-600">Created At</span></th>
                                    <th><span class="f-light f-w-600">Updated At</span></th>
                                    <th><span class="f-light f-w-600">Actions</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for client in clients %}
                                <tr class="client-row">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input checkbox-primary" type="checkbox">
                                        </div>
                                    </td>
                                    <td><p class="f-light">{{ client.name }}</p></td>
                                    <td><p class="f-light">{{ client.phone_number }}</p></td>
                                    <td><p class="f-light">{{ client.destination }}</p></td>
                                    <td><p class="f-light">{{ client.created_at|naturaltime }}</p></td>
                                    <td><p class="f-light">{{ client.updated_at|naturaltime }}</p></td>
                                    <td>
                                        <div class="client-action">
                                            <a href="{% url 'base:editClient' client.id %}" class="btn btn-primary">
                                                Edit
                                            </a>
                                            <a href="{% url 'base:deleteClient' client.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the client \'{{ client.name }}\'?');">
                                                Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
